.left{
    float: left;
    margin-top: 7%;
    margin-left: 15%;
    height: 50%;
    width: 40%;
    margin-bottom: 20%;
}
.right{
    padding: 1%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: azure;
    border-radius: 5px;
    float: right;
    margin-top: 5%;
    margin-right: 15%;
    width: 25%;
}

hr{
    color: darkgray;
}
.title{
    font-size: 200%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
p{
    text-indent: 2em;
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 150%;
}