.box{
    float: left;
    margin-top: 6%;
    margin-left: 15%;
    width: 70%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20.5%;
}
h1{
    font-size: 200%;
}
p{
    margin-left: 2em;
    font-size: 140%;
    line-height: 140%;
}